@font-face {
  font-family: "HellixBold";
  src: local("HellixBold"),
    url("./fonts/Hellix/Hellix-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HellixSemiBold";
  src: local("HellixSemiBold"),
    url("./fonts/Hellix/Hellix-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "HellixRegular";
  src: local("HellixRegular"),
    url("./fonts/Hellix/Hellix-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
